body {
  font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
}

button.close {
  color: #f00;
}

span.caret {
  margin-right: 10px;
  color: #546675;
}

a {
  color: #546677;
}

a:link, a:visited {
  color: #546677;
}

a:focus, a:hover {
  text-decoration: none;
  color: #03a6d7;
}

.badge {
  line-height: .9em;
  background-color: #546677;
}

table td {
  font-size: 16px;
}

h2 span {
  color: #ddd;
}

h4 {
  font-weight: bold;
  padding-bottom: 10px;
  color: #03a6d7;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.panel {
  background-color: #fcfcfc;
}

.text-primary {
  color:#546677;
}

.btn-primary {
  color: #fff;
  border-color: #ccc;
  background-color: #546677;
}

.progress-bar {
  background-color: #03a6d7;
}

.progress-bar-info {
  background-color: #4e9fdd;
}

.progress-bar-success {
  background-color: #62c876;
}

.progress-bar-warning {
  background-color: #e9dd00;
}

.progress-bar-danger {
  background-color: #ff3b3d;
}

.btn-primary.active, .btn-primary:active {
  border-color: #ccc;
  background-color: #03a6d7;
}

.btn-primary.active:hover {
  border-color: #ccc;
  background-color: #546677;
}

a.btn-primary {
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border-color: #ccc;
  background-color: #03a6d7;
}

.panel-heading {
  font-size: 1.1em !important;
  font-weight: 600;
  color: #03a6d7 !important;
  background-color: #fff !important;
}

h1, h2, h3 {
  color: #03a6d7;
}

.dropdown-menu > li > a {
  color: #546677;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  color: #03a6d7;
}

.container:after {
  display: block;
  clear: both;
  content: '';
}

.pagination {
  margin: 0 0;
}

.toolbar {
  padding-top: 20px;
}

tbody tr td:not(:first-child), thead tr th:not(:first-child) {
  text-align: right;
}

.pagination > .active > a, .pagination > .active > a:focus,
.pagination > .active > a:hover, .pagination > .active > span,
.pagination > .active > span:focus, .pagination > .active > span:hover {
  border-color: #ddd;
  background-color: #546677;
}

.pagination > li > a, .pagination > li > span {
  color: #546677;
}

.toolbar .search-box, .toolbar .sort-items {
  padding-bottom: 10px;
}

.toolbar .page-count {
  padding-bottom: 30px;
}

img.avatar {
  max-width: 40px;
  max-height: 40px;
}

table img.avatar {
  margin-right: 10px;
}

.btn-primary i {
  color: #fff;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table thead tr {
  border-bottom-color: transparent !important;
}

.well {
  margin-bottom: 10px;
  background-color: #fff;
}

.well-sm {
  padding: 4px;
}

/* PROJECT SIDEBAR */

.btn-default.focus, .btn-default:focus, .btn-default:hover, .btn-default.focus i,
.btn-default:focus i, .btn-default:hover i {
  color: #03a6d7;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #546677;
}

.nav-pills > li.active > a {
  background-color: #03a6d7;
}

.btn-success:hover, .btn-success:active {
  border-color: #50a360;
  background-color: #50a360;
}

.btn-success {
  border-color: #50a360;
  background-color: #62c876;
}

.btn-info:hover, .btn-info:active {
  border-color: #4995cf;
  background-color: #4995cf;
}

.btn-info {
  border-color: #4995cf;
  background-color: #4e9fdd;
}

.btn-danger:hover, .btn-danger:active {
  border-color: #cf3031;
  background-color: #cf3031;
}

.btn-danger {
  border-color: #cf3031;
  background-color: #ff3b3d;
}

.btn-warning:hover, .btn-warning:active {
  border-color: #cf8800;
  background-color: #cf8800;
}

.btn-warning {
  border-color: #cf8800;
  background-color: #ffa800;
}

.has-success .control-label {
  color: #50a360;
}

.has-success .form-control {
  border-color: #50a360;
}

.has-success .form-control-feedback {
  color: #50a360;
}

.has-warning .control-label {
  color: #ffa800;
}

.has-warning .form-control {
  border-color: #ffa800;
}

.has-warning .form-control-feedback {
  color: #ffa800;
}

.has-error .control-label {
  color: #ff3b3d;
}

.has-error .form-control {
  border-color: #ff3b3d;
}

.has-error .form-control-feedback {
  color: #ff3b3d;
}

.label-default {
  background-color: #546677;
}

.label-primary {
  background-color:#03a6d7 !important;
}

.label-success {
  background-color: #62c876;
}

.label-info {
  background-color: #4e9fdd;
}

.label-warning {
  background-color: #ffa800;
}

.label-danger {
  background-color: #ff3b3d;
}

.table > tbody > tr.active > td {
  background-color: #fcfcfc;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr.active:hover > td {
  background-color: #fafafa;
}

.list-group-item-success, .list-group-item-info, .list-group-item-warning,
.list-group-item-danger {
  color: #333;
}

.text-primary {
  color:#546677;
}

.text-warning {
  color: #ffa800;
}

.text-danger {
  color: #ff3b3d;
}

.text-success {
  color: #62c876;
}

.text-info {
  color: #03a6d7;
}

.btn-default:hover, .pager li > a:hover, .pager li > a:focus,
.pagination > li > a:hover, a.list-group-item:hover,
button.list-group-item:hover, a.list-group-item:focus,
button.list-group-item:focus, .nav > li > a:hover, .nav > li > a:focus {
  background-color: #fafafa;
}

.alert-warning, .alert-error, .alert-success, .alert-info {
  color: #fff;
}

.alert-info {
  background-color: #03a6d7;
}

.alert-warning {
  background-color: #ffa800;
}

.alert-success {
  background-color: #62c876;
}

.alert-error {
  background-color: #ff3b3d;
}

.breadcrumb {
  background-color: #fcfcfc;
}

.breadcrumb > li + li:before {
  font-family: FontAwesome;
  content: '\f105';
}

button.btn.btn-primary.dropdown-toggle > span.caret,
button.btn.btn-success.dropdown-toggle > span.caret,
button.btn.btn-info.dropdown-toggle > span.caret,
button.btn.btn-warning.dropdown-toggle > span.caret,
button.btn.btn-danger.dropdown-toggle > span.caret {
  color: #fff;
}

.panel-primary {
  border-color: #546677;
}

.panel-success {
  border-color: #62c876;
}

.panel-info {
  border-color: #4e9fdd;
}

.panel-warning {
  border-color: #ffa800;
}

.panel-danger {
  border-color: #ff3b3d;
}

.panel-primary > .panel-heading {
  border-color: #546677;
}

.panel-success > .panel-heading {
  border-color: #62c876;
}

.panel-info > .panel-heading {
  border-color: #4e9fdd;
}

.panel-warning > .panel-heading {
  border-color: #ffa800;
}

.panel-danger > .panel-heading {
  border-color: #ff3b3d;
}

.panel-primary > .panel-heading h3 {
  color: #546677;
}

.panel-info > .panel-heading h3 {
  color: #4e9fdd;
}

.panel-success > .panel-heading h3 {
  color: #62c876;
}

.panel-warning > .panel-heading h3 {
  color: #ffa800;
}

.panel-danger > .panel-heading h3 {
  color: #ff3b3d;
}

.list-group-item.active, .list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #fff;
  border-color: #546677;
  background-color: #546677;
}

.form-control {
  height: auto;
}

.btn-primary {
  color: #fff;
  border-color: #ccc;
  background-color: #546677;
}

.btn-default {
  color: #333;
  border-color: #ccc;
  background-color: #fff;
}

.btn-group > .btn + .dropdown-toggle {
  padding-right: 4px;
  padding-left: 14px;
}
