.sg-display, .sg-display .row {
margin-left:0;
margin-right: 0;
}

.btn-primary {
    color: #fff;
    background-color: #546677;
    border-color: #ccc;
}

.label-default {
    background-color: #546677;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 4px;
    padding-left: 12px;
}


.nopaddingmargin {
  padding:0 !important;
  margin:0 0;
}
body {
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
}
button.close {
    color: #f00;
}

span.caret {
  color:#546675;
  margin-right:10px;
}


a:link,
a:visited {
    color: #546677;
}
a:focus,
a:hover {
    color: #03A6D7;
    text-decoration: none;
}


.badge {
    background-color: #546677;
    line-height: 0.9em;
}

table td {
    font-size: 16px;
}
h2 span {
    color: #ddd;
}
h4 {
    color: #03A6D7;
    font-weight: bold;
    padding-bottom: 10px;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.panel {
    background-color: #fcfcfc;
}
.btn-primary {
    color: #fff;
    background-color: #546677;
    border-color: #ccc;
}

.progress-bar {
  background-color:#03A6D7;
}

.progress-bar-info {
    background-color: #4E9FDD;
}
.progress-bar-success {
    background-color: #62C876;
}
.progress-bar-warning {
    background-color: #E9DD00;
}

.progress-bar-danger {
    background-color: #FF3B3D;
}

.btn-primary.active,
.btn-primary:active {
    background-color: #03A6D7;
    border-color: #ccc;
}
.btn-primary.active:hover {
    background-color: #546677;
    border-color: #ccc;
}
a.btn-primary {
    color: #fff!important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #03A6D7;
    border-color: #ccc;
}
.panel-heading {
    background-color: #fff !important;
    font-size: 1.1em !important;
    color: #03A6D7 !important;
    font-weight: 600;
}

h1,
h2,
h3 {
    color: #03A6D7;
}


.panel-body {
    padding: 10px;
}

.dropdown-menu>li>a {
    color: #546677;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #03A6D7;
}
.container:after {
    clear: both;
    content: "";
    display: block;
}

.pagination {
    margin: 0 0;
}
.toolbar {
    padding-top: 20px;
}
tbody tr td:not(:first-child),
thead tr th:not(:first-child) {
    text-align: right;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #546677;
    border-color: #ddd;
}
.pagination>li>a,
.pagination>li>span {
    color: #546677;
}
.toolbar .search-box,
.toolbar .sort-items {
    padding-bottom: 10px;
}
.toolbar .page-count {
    padding-bottom: 30px;
}

img.avatar {
    max-height: 40px;
    max-width: 40px;
}
table img.avatar {
    margin-right: 10px;
}

.btn-primary i {
    color: #fff
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.table thead tr {
    border-bottom-color: transparent !important;
}
.well {
    background-color: #fff;
    margin-bottom: 10px;
}
.well-sm {
    padding: 4px;
}
/* PROJECT SIDEBAR */

.btn-default.focus,
.btn-default:focus,
.btn-default:hover,
.btn-default.focus i,
.btn-default:focus i,
.btn-default:hover i {
    color: #03A6D7;
}

 .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #546677;
}

.nav-pills > li.active > a {
  background-color: #03A6D7;

}


.btn-success:active:hover, .btn-success.active:hover, .open > .dropdown-toggle.btn-success:hover, .btn-success:active:focus, .btn-success.active:focus, .open > .dropdown-toggle.btn-success:focus, .btn-success:active.focus, .btn-success.active.focus, .open > .dropdown-toggle.btn-success.focus {
    background-color: #398439;
    border-color: #255625;
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
